# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
ACCESS_TOKEN_PRIVATE_KEY=supersecret123
REFRESH_TOKEN_PRIVATE_KEY=refreshsecret456

# Frontend URL
FRONTEND_URL=http://localhost:8080

# Microservices URLs
USER_SERVICE_URL=http://localhost:5001
PRODUCT_SERVICE_URL=http://localhost:5002
ORDER_SERVICE_URL=http://localhost:5003
LOCATION_SERVICE_URL=http://localhost:5004
PROMOTION_SERVICE_URL=http://localhost:5005
REVIEW_SERVICE_URL=http://localhost:5006
SEARCH_SERVICE_URL=http://localhost:5007
CHATBOT_SERVICE_URL=http://localhost:5008
